/* #p
{
  display: none;
}
#pp
{
  display: none;
} */
body
{
    background-color: #242424;

}
button
{

    background-color: #242424;
    color: white;
    width: 1250px;
    height: 50px;
    text-align: start;
   
}
p
{
  color: white;
}
span
{

 margin-left: 1200px;
 margin-top: -10px;
}

