body
{
  background-color:#181818;;
}
header
{
  height: 60px;
  display: flex;
  background-color: black;
  position:fixed;
  width: 1280px;
  margin-left: -10px;
  margin-top: -10px;

  
 

}
#header
{
  padding-top: 0px;
  padding-left:0px ;
  padding-right: 20px;
}
#logo
{
    height: 60px;
    width: 140px;
    margin-left: 20px;
    
}
#logobtn
{
  height: 30px;
  width: 32;
 margin-top: 18px;
 background-color:black;
 color: white;
 border: 1px solid white;
 border-radius: 2px;
 

 
  
}
#logodrop
{
  height: 30px;
  width: 32;
  background-color: red;
  color: white;
  border: 1px solid red;
  margin-right: 5px;
  margin-top: 18px;
  border-radius: 2px;

  
  
}
#tag
{
  color: white;
  font-size: 15px;
  width: 260px;
  margin-left: 240px;
  margin-top: 21px;

}
#head
{
   margin-left: 420px;
   display: flex;
  
}
#only
{
  color: white;
  font-size: 60px;
  height: 200px;
  width: 600px;
 
  
}

#only1
{
  color: white;
  font-size: 20px;
  margin-left: 50px;
  
}
img
{
  height: 171.99px;
  width: 267.88px;
}
.movies
{
  display: flex;
  gap: 30px;
  width: 300px;
  height: 240px;
  margin: 50px;
  color: white;
  text-align: center;
}
/* .movie{
 
  box-shadow: 5px 5px 5px black;
} */
#foot
{
  text-align: center;
  color: white;
  font-size: 40px;

  
}
#foot1
{
  text-align: center;
  color: white;
  font-size: 20px;
 
  
}
#foot2
{
  color: gray;
  margin-left: 37px;
}
#footbtn
{
  background-color: red;
  border: 1px solid red;
  align-items: center;
  width: 80px;
  margin-left: 600px;
  height: 30px;
  color: white;
  margin-right: 5px;
  margin-top: 11px;
  border-radius: 2px;
  padding-left: 10px;
}
#contact
{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}
#contact li
{
   list-style-type: none;
   
}
li
{
  
  padding: 10px;
}
#contact a
{
   text-decoration: none;
   color: grey;
}
#logobtn1
{
  height: 30px;
  width: 32;
 margin-top: 11px;
 background-color:black;
 color: white;
 border: 1px solid white;
 border-radius: 2px;
 margin-left: 50px;
 width: 100px;
 color: gray;
 padding-left: 20px;
 height:40px;
}
button
{
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
 

}
button a
{
  text-decoration: none;
  color: white;
}
