
.read-the-docs {
  color: #888;
}
body
{
  height: 100vh;
  width: 100vw;
}
#input
{
 margin-left: 50vw;
}
button
{
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-left: 50vw;
}
